.container-logo {
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-logo .logo {
	font-size: 120px;
	color: #000;
	font-family: eras, arial;
}

.content {
	display: none;
}
.top {  
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 40%;
	padding: 15px 30px;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.bottom	{
	background: #F1F0F0;
	height: 60%;
}

.bottom .items {
	overflow-y: scroll;
	padding: 30px;
	max-height: 85%;
	min-height: 85%;
	margin: 0 auto;
	max-width: 768px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 20px 0px #D6D6D6;
	padding: 15px;
	border-radius: 15px;
	background: #fff;
	margin-bottom: 10px;
}

.item input[type="checkbox"] {
	-opacity: 0;
	-position: absolute;
	-left: -9999999px;
}

.item .item-left {
	display: flex;
	align-items: center;
}

.item .item-left .product {
	display: flex;
	flex-direction: column;
}

.item .item-img {
	max-width: 30px;
	margin-right: 15px;
}

.item .item-img img {
	width: 30px;
}

.item .item-name {
	color: #000;
	font-family: eras, arial;
	font-size: 18px;
}

.item .item-descr {
	color: #D6D6D6;
}

.item .item-price {
	color: #57C437;
	font-family: concola,arial;
	font-size: 16px;
	font-weight: bolder;

}

.item .item-amount {
	color: #D6D6D6;
}

.footer-menu {
	
	
	border-top: 1px solid #DCDCDC;
}

.footer-menu ul {
	display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-menu ul li {
	
}

.footer-menu ul li a {
	
}

.footer-menu ul li a img {
	width: 25px;
}

.category {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	overflow-x: auto;
	margin: 0 auto;
}

.category .cat {
	color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 18px;
    font-family: concola;
    margin-right: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.category .cat:hover,
.category .cat.active {
	background: rgba(255,255,255,.2)
}

.category .cat.active {
	cursor: default;
}

.items {
	display: none;
}

.items.active {
	display: block;
}

.container-cart {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.3);
	z-index: 999;
	position: absolute;
	display: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.cart {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	height: 0;
	display: none;
	height: 55vh;
	border-radius: 30px 30px 0 0;
	box-shadow: 0px 0px 60px #626060;
	max-width: 768px;
	margin: 0 auto;
	z-index: 9999;
	padding: 20px 20px 60px;
	overflow-y: auto;
}

.container-cart.show,
.container-cart.show + .cart,
.container-cart.show + .cart + .container-submit {
	display: block;
}

.container-submit {
	display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 80px;
    z-index: 99999;
    background: #fff;
    box-shadow: 0px 0px 30px #ddd;
    max-width: 768px;
    margin: 0 auto;
}

.cart-submit {
    padding: 12px;
    background: #BFE4F8;
    display: none;
    z-index: 9999;
    border-radius: 10px;
    color: #274B65;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: concola,arial;
    display: block;
}


@-webkit-keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}
 
@-moz-keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}
 
@keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}